{% block content %}

  <form method="post">
    {% csrf_token %}
    <button type="submit" name="run_eutils">Get CEL data</button>
  </form>

  <h1>Dummy name: SoftFile.name</h1>
  <header>Dummy sample IDs: SoftFile.subset_sample_id</header>
  <table>
    {% for dataset in datasets %}
      <thead>
        <tr>
          <td>dataset id</td>
          <td>num subsets</td>
        </tr>
      </thead>
      <tr>
        <td>{{ dataset.dataset_id }}</td>
        <td>{{ dataset.num_subsets }}</td>
      </tr>
    {% endfor %}
  </table>

  <img src="/static/arch.png" style="width:500px"/>
{% endblock %}